body {
  background-color: #fbf8f1;
  font-family: "Courgette", cursive;
  text-align: center;
  color: #fbf8f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  height: 100vh;
  flex-direction: column;
}
#navbar {
  position: absolute;
  top: 0;
  background-color: #e9dac1;
  height: 15%;
  width: 100%;
}
.title {
  font-size: 2.5rem;
}

#to-do-list {
  background-color: #e9dac1;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 20px;
}

.text-box {
  width: 300px;
}

#buttons {
  display: flex;
}

.button {
  background-color: #fbf8f1;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #e9dac1;
  font-family: Arial;
  font-size: 5rem;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  user-select: none;
  -moz-user-select: none;
}
.button:hover {
  transform: scale(1.1);
}
.button:active {
  position: relative;
  top: 1px;
}

.delete-button {
  font-size: 3rem;
  margin-left: 10px;
}

@media (max-width: 576px) {
  #to-do-list {
    margin-top: 15%;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  #to-do-list {
    margin-top: 7%;
  }
}
