body {
  background-color: black;
  color: #fff;
  font-family: "Lobster", cursive;
  text-align: center;
}
h1 {
  font-size: 5rem;
  margin-bottom: 5%;
  margin-top: 1%;
}
img {
  width: 25%;
  margin: 10% 1% 2.5% 0;
}
.middle-word {
  color: gold;
}

.myButton {
  background-color: black;
  border-radius: 20px;
  border: 10px solid white;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 76px;
  text-decoration: none;
  margin-top: 15%;
}
.myButton:hover {
  background-color: gold;
  transform: scale(1.1);
}
.myButton:active {
  position: relative;
  top: 1px;
}

@media (min-width: 900px) {
  img {
    margin-top: 0;
  }
  .myButton {
    margin-top: 2%;
  }
}
